.DS_Store
venv
.env
*.pyc
*.db
.remote-sync.json
.vscode
*.code-workspace
.condaauto
/JavaTutorials/TicTacToeGame/nbproject/private/
/JavaTutorials/TicTacToeGame/dist/
/JavaTutorials/TicTacToeGame/build/
/JavaTutorials/Database/SQLiteConnection/nbproject/private/
/JavaTutorials/SQLiteConnection/build/
/AndroidStudioProjects/JavaPractice/nbproject/private/
/AndroidStudioProjects/IntermediateJava/nbproject/private/
/AndroidStudioProjects/javapractice/nbproject/private/
/AndroidStudioProjects/javapractise/nbproject/private/
/AndroidStudioProjects/javapractise/build/